body{
	font-family: Arial;
	margin: 0;
	height: auto;
}
main{
	width: 90%;
	margin: auto;
}
#logoImage img{
	position: absolute;
	width: 8vw;
	left: 5vw;
	top: 1.5vh;
}
#landing-text h1{
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 0;
	letter-spacing: 0.5em;
}
#landing-text h2{
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}
#landing-image{
	/*background-image: url("https://i.redd.it/a0ez44uhhx911.jpg");*/
	/*background-image: url("https://i.pinimg.com/originals/eb/f0/02/ebf002d6348c3ae432649da4418fce40.jpg");*/
	background-image: url("https://i.imgur.com/9LJtFUQ.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
}
#landing-text{
	display: flex;
	flex: 0 1 40vh;
	flex-direction: column;
	height: 30vh;
	justify-content: center;
	text-align: center;
}
#menuButtons{
	height: 20%;
	width: 100%;
	display: flex;
	flex: 0 1 8vh;
}
#menuButtons a{
	text-decoration: none;
	width: 20%;
	color: black;
	border: 1px black solid;
	padding: 0.5rem;
	margin: auto;
	transition: 0.3s background ease;
}
#menuButtons a:hover{
	background-color: black;
	color: white;
}
#portfolio{
	width: 100%;
}
.header{
	text-align: center;
	/*padding: 0.5rem;*/
	padding: 3rem;
}
.header h2{
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
#portfolio img{
	width: 65%;
	display: inline;
	transition: 0.25s ease;
}
.caption{
	width: 35%;
	text-align: center;
}
.imageSection{
	display: flex;
	align-items:center;
}
#blockContainer{
	width: 100%;
}
.block{
	width: 30%;
	height: 50%;
	display: block;
	float: left;
	margin: 1.5%;
	//display: inline-block;
	//overflow: hidden;
}

/*this is from the day1's stylesheet*/
.container{
	width: 100%;
	margin: auto;
}
#footer{
	margin-top: 10px;
	padding-bottom: 10px;
	background-color: black;
}
#footer p{
	text-align: center;
	padding-top: 25px;
	color: white;
}
.myForm{
	display: inline;
}
.myForm label{
	display: block;
}
.myForm input[type="text"], input[type="tel"], input[type="email"], .myForm textarea{
	display: block;
	padding: 1%;
	width: 90%;
}
#address{
	display: block;
	width: 25%;
	float: left;
	margin-top: 18px;
	line-height: 1.4em;
}
.btn1{
	background-color: white;
	border: none;
	border: 1px black solid;
	padding: 10px 15px 10px 15px;
	transition: 0.2s ease;
	text-decoration: none;
	color: black;
}
.btn1:hover{
	color: white;
	background-color: black;
	cursor: pointer;
}
#formDiv{
	width: 75%;
	float: left;
}
.clear{
	clear: both;
}
.fixed{
	position: fixed;
	top: 101.5vh;
	right: 13vh;
	margin: -4.3rem;
}
#backHome{
	padding: 20%;
}